.sidebar.close {
    width: 80px !important;
    transition: all 0.3s;

    li {
        width: 55px;
    }

    span.text {
        display: none !important;
    }

    .router-link {
        justify-content: flex-end;
    }

    .toggle {
        right: -7px;
    }
}