.sidebar.close {
    width: 90px !important;

    li {
        width: 55px;
    }

    .text {
        display: none !important;
    }

    .router-link {
        justify-content: flex-end;
    }

    .toggle {
        right: -7px;
    }

    .mode {
        justify-content: center;
    }
}